
  <ion-card>  
    <ion-card-content>
      <form [formGroup]="loginForm" (ngSubmit)="login()" *ngIf="this.loginForm">
        <ion-item>
          <ion-label for="email" position="floating">Email</ion-label>
          <ion-input formControlName="email" id="email" type="email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating" for="password">Password</ion-label>
          <ion-input formControlName="password" id="password" type="password" ></ion-input>
        </ion-item>

        <ion-button shape="round" type ="submit"
        [disabled]="loginForm.invalid"
        >Ingresar</ion-button>
      
      <ion-toast
     [isOpen]="isToastOpen"
      message="{{toastMessage}}"
      [duration]="4000"
      color = 'danger'
      (didDismiss)="setToastOpen(false)"
    ></ion-toast>
  </form>
    </ion-card-content>
  </ion-card>