<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" color="light">
  <app-forms></app-forms>
  <ion-card>
    <ion-card-content>
      <ion-item>
        <ion-thumbnail slot="start">
          <ion-img 
            src="{{img_url}}"
            alt="Imagen de perfil"
            >
          </ion-img>
        </ion-thumbnail>
        <ion-input type="file" (change)="uploadImg($event)">
        </ion-input>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>