  <ion-card>  
    <ion-card-content>
      <form [formGroup]="genericForm" (ngSubmit)="onSubmit()"  *ngIf="this.genericForm">
        <ion-item>
          <ion-input label="Email" labelPlacement="floating" id="email" type="email" [disabled]="true" [value]="user.email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input label="Contrasena" labelPlacement="floating" formControlName="password" id="password" type="password" [clearInput]="true" ></ion-input>
        </ion-item>

        <ion-item>
          <ion-input label="Nombre" labelPlacement="floating" formControlName="name" id="name" type="text" [clearInput]="true"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input label="Apellido" labelPlacement="floating" formControlName="lastname" id="lastname" type="text" [clearInput]="true"></ion-input>
        </ion-item>
  
        <ion-button shape="round" type ="submit"
        [disabled]="genericForm.invalid"
        >{{title}}</ion-button>
  </form>

    </ion-card-content>
  </ion-card>
